
build/main/Analysis-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/Tree-00.toc
build/main/Tree-01.toc
build/main/Tree-02.toc
build/main/warn-main.txt
build/main/xref-main.html
file/__pycache__/C45.cpython-38.pyc
file/__pycache__/ConfussionMatrix.cpython-38.pyc
file/__pycache__/NaiveBayesian.cpython-38.pyc
file/__pycache__/View.cpython-38.pyc
file/build/View/Analysis-00.toc
file/build/View/base_library.zip
file/build/View/EXE-00.toc
file/build/View/PKG-00.pkg
file/build/View/PKG-00.toc
file/build/View/PYZ-00.pyz
file/build/View/PYZ-00.toc
file/build/View/Tree-00.toc
file/build/View/Tree-01.toc
file/build/View/Tree-02.toc
file/build/View/View.exe.manifest
file/build/View/warn-View.txt
file/build/View/xref-View.html
file/C45.py
file/ConfussionMatrix.py
file/dist/View.exe
file/NaiveBayesian.py
file/student_test.txt
file/student_train.txt
file/View.py
file/View.spec
